body { background-color: #ffffff; color: #000000; font-family: arial; font-size: 10pt; }

.topbanner { background-color:  #99ccff; }

a { color: #000000; font-weight: bold; } 

h1 { font-size: 15pt; }

h2 { font-size: 13pt; }

h3 { font-size: 11pt; }

h4 { font-size: 10pt; }

table.detail { border: thin solid #000000; }

table.list { border: thin solid #000000; }

td.menutable { background-color: #99ccff; font-weight: bold; }
td.grouptitle { background-color: #000000; color: #ffffff; font-weight: bold; font-size: 11pt; }

input, textarea { font-family: arial }

td.label { background-color: #99ccff; font-weight: bold; }

xmp { background-color: #FFFFCC; font-weight: bold; }